*{

    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.container{
    background-color: black;
    min-height: 100vh;
    width: 100%;
    position: relative;

}
header{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    width: 50px;
    margin: 20px 0;

}

ul li{
    display: inline-block;
    padding-left: 20px;
    
}
ul li a{
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    margin: 0 10px;
}
ul li a:hover{
    background-color: #fff;
    color: black;
    border-radius: 15px;
    padding: 10px;
    transition: 0.5s;
}
.content{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .text{
    width: 40%;
    color: #fff;
}
.content .text h2{
    text-transform: uppercase;
    font-size: 25px;
}

.content .text p{
    text-indent: 30px;
    font-size: 17px;
    margin: 20px 0;
}
.content .text a{
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border-radius: 15px;
    padding: 8px 10px;
   
}
.content .image{
    margin-right: 50px;
}
.content .image img{
    width: 250px;
    height: 400px;
}
.content .icons{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

}
.content .icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.content .icons img:hover{
    transform: scale(1.2);
}


















